html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center; /* required by some browsers */
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}


input[type="checkbox"].isWorkable[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.style2 {
    color: blue;
    font-style: italic;
}
table.custom-border td {
    border-color: #333;
    border-width: 3px;
}
table td:hover.hover {
    background-color: #d6eaf8;
}

td.nowork {
    background-color: #a9a9a9;
}

td.free {
    background-color: #c3e6cb;
}